<mat-checkbox [(ngModel)]="showGeneral" [ngModelOptions]="{ standalone: true }"
  >GENERAL_LABELS</mat-checkbox
>
<mat-checkbox [(ngModel)]="showImage" [ngModelOptions]="{ standalone: true }"
  >IMAGE_PROPERTIES</mat-checkbox
>

<form [formGroup]="myForm" (ngSubmit)="onSubmit()">
  <div *ngIf="showGeneral" formGroupName="Settings">
    <div formGroupName="GeneralLabels">
      <h3>General Labels</h3>
      <mat-form-field appearance="outline">
        <mat-label>Label Inclusion Filters</mat-label>
        <input
          matInput
          placeholder="Placeholder"
          formControlName="LabelInclusionFilters"
        />
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Label Exclusion Filters</mat-label>
        <input matInput formControlName="LabelExclusionFilters" />
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Label Category Inclusion Filters</mat-label>
        <input matInput formControlName="LabelCategoryInclusionFilters" />
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Label Category Exclusion Filters</mat-label>
        <input matInput formControlName="LabelCategoryExclusionFilters" />
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Max Labels</mat-label>
        <input matInput formControlName="MaxLabels" type="number" />
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Min Confidence</mat-label>
        <input matInput formControlName="MinConfidence" type="number" />
      </mat-form-field>
    </div>
  </div>

  <div *ngIf="showImage" formGroupName="Settings">
    <div formGroupName="ImageProperties">
      <h3>Image Properties</h3>
      <mat-form-field appearance="outline">
        <mat-label>Max Dominant Colors</mat-label>
        <input matInput formControlName="MaxDominantColors" type="number" />
      </mat-form-field>
    </div>
  </div>

  <button type="submit">Submit</button>
</form>
